<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Modern Cloud Storage – Fast, Secure & Easy File Access</title>
	<meta name="description" content="Store, access, and share your files effortlessly with our modern cloud storage solution. Enjoy high-speed uploads, end-to-end encryption, and access from any device, anywhere.">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="MyWebSite" />
	<link rel="manifest" href="/site.webmanifest" />
    <script type="module" crossorigin src="/assets/v1/script.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/v1/style.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
